<h1>ADD PLAYER PAGE</h1>

<form method = "POST" action = "addplayers/">
    {% csrf_token %}
    <tr>
        <td> Player 1</td>
        <td><input type="text" name="player1" required></td>
    </tr>
    <br/>
    <br/>
    <tr>
        <td> Player 2</td>
        <td><input type="text" name="player2" required></td>
    </tr>
    <br/>
    <br/>
    <!-- Player 1 Name -<input type="text" name ="player1" placeholder=" Enter Player 1 Name"/><br/><br/>
    Player 2 Name -<input type="text" name ="player2" placeholder=" Enter Player 2 Name"/><br/><br/> -->
    <button type = "submit">submit</button><br/>
</form>